table
{
    width: 54%;
    aspect-ratio: 1/1;
    font-size: 40px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    text-align: center;
}

td.regular
{
    border: 1px solid black;
}

td.small
{
    color: red;
    font-size: small;
    white-space: pre;
}

td 
{
    border: 1px solid black;
    white-space: pre;
    aspect-ratio: 1/1;
    width: 6%;
}

td:nth-child(3n)
{
    border-right-width: 4px;
}

textarea
{
    font-family: "Arial" !important;
}