table
{
    width: 54%;
    aspect-ratio: 1/1;
    font-size: 40px;
    border-top: 4px solid black;
    text-align: center;
    table-layout: fixed;
    empty-cells: show;
    border-collapse: collapse;
}

td.regular
{
    aspect-ratio: 1/1;
    border: 1px solid black;
    aspect-ratio: 1/1;
    width: 6%;
}

td.small
{
    aspect-ratio: 1/1;
    word-wrap: break-all;
    color: red;
    border-collapse: collapse;
    font-size: small;
    margin: 0%;
    white-space: pre;
}

td 
{
    border: 1px solid black;
    aspect-ratio: 1/1;
    width: 6%;
}

td:nth-child(3n)
{
    border-right-width: 4px;
}

textarea
{
    font-family: "Arial" !important;
}