table
{
    width: 54%;
    aspect-ratio: 1/1;
    font-size: 40px;
    border: 3px solid black;
    text-align: center;
    table-layout: fixed;
}

th
{
    aspect-ratio: 1/1;
    border: 1px solid black;
}



td.regular
{
    aspect-ratio: 1/1;
    border: 1px solid black;
    aspect-ratio: 1/1;
    width: 6%;
}

td.small
{
    aspect-ratio: 1/1;
    word-wrap: break-all;
    color: red;
    border-collapse: collapse;
    font-size: small;
    margin: 0%;
}

td 
{
    border: 1px solid black;
    aspect-ratio: 1/1;
    width: 6%;
}


textarea
{
    font-family: "Arial" !important;
}