{% extends "base.html" %}
{% import "bootstrap/base.html" as base %}

{% block title %}Sudoku{% endblock %}

{% block page_content %}

<table>
    <tbody>
        {% for i in range(0,9) %}
            <tr>
                {% for j in range(0,9) %}
                    {% if numbers[ i*9 + j ]|length != 1 %} 
                        <td class="small">{{ numbers[ i*9 + j ] }}</td> 
                    {% endif %}
                    {% if numbers[ i*9 + j ]|length == 1 %} 
                        <td class="regular">{{ numbers[ i*9 + j ] }}</td> 
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}