{% extends "base.html" %}
{% import "bootstrap/base.html" as base %}

{% block title %}Sudoku{% endblock %}

{% block page_content %}

<table>
    <tr>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
        <td></td>
        <td>2</td>
        <td>3</td>
    </tr>
</table>

{% endblock %}