{% extends "index.html" %}

{% block title %}Sudoku{% endblock %}

{% block page_content %}

<script src="../static/scripts.js"></script>

<div>

    <div class="grid">
        <table>
            <tbody>
                {% for i in range(0,9) %}
                    <tr>
                        {% for j in range(0,9) %}
                            {% if j % 3 == 0 %}
                                {% if numbers[ i*9 + j ]|length != 1 %} 
                                    <td class="small", style="border-left-width: 4px;">{{ numbers[ i*9 + j ] }}</td> 
                                {% endif %}
                                {% if numbers[ i*9 + j ]|length == 1 %} 
                                    <td class="regular", style="border-left-width: 4px;">{{ numbers[ i*9 + j ][0] }}</td> 
                                {% endif %}
                            {% endif %}
                            {% if j % 3 != 0 %}
                                {% if numbers[ i*9 + j ]|length != 1 %} 
                                    <td class="small">{{ numbers[ i*9 + j ] }}</td> 
                                {% endif %}
                                {% if numbers[ i*9 + j ]|length == 1 %} 
                                    <td class="regular">{{ numbers[ i*9 + j ][0] }}</td> 
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="float: right;" class="options">
        <h4>Reduced Puzzle</h4>
        <p id="reduced_puzzle">{{ reduced_puzzle }}</p>
        <button data-component="IconButton" type="button" onclick="copyReduced()" aria-label="Copy url to clipboard" tabindex="-1" class="types__StyledButton-sc-ws60qy-0 diCodC" aria-describedby=":ri:" data-no-visuals="true">
            <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-copy" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display: inline-block; user-select: none; vertical-align: text-bottom; overflow: visible;">
                <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>
                <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
            </svg>
        </button>
        <br><br>
        <a href="/solve_helper">Solve Another</a><br>
        <a href="/advanced_solver">Advanced Solver</a>  
    </div>
    
</div>

{% endblock %}
